################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DelegatesInCSharp/.vs
/DelegatesInCSharp/bin/Debug/net6.0
/DelegatesInCSharp/obj
/ThreadSynchronizationInCSharp/.vs/ThreadSynchronizationInCSharp/FileContentIndex
/ThreadSynchronizationInCSharp/obj
/ThreadSynchronizationInCSharp/.vs/ThreadSynchronizationInCSharp/v17
/ThreadSynchronizationInCSharp/bin/Debug/net8.0
/ThreadSynchronizationInCSharp/.vs/ThreadSynchronizationInCSharp/DesignTimeBuild
/UseOfIValidatableObjectInCSharp/.vs/UseOfIValidatableObjectInCSharp
/UseOfIValidatableObjectInCSharp/UseOfIValidatableObjectInCSharp/.vs
/UseOfIValidatableObjectInCSharp/UseOfIValidatableObjectInCSharp/bin/Debug/net8.0
/UseOfIValidatableObjectInCSharp/UseOfIValidatableObjectInCSharp/obj
/UseOfIValidatableObjectInCSharp/UseOfIValidatableObjectInCSharpTests/bin/Debug/net8.0
/UseOfIValidatableObjectInCSharp/UseOfIValidatableObjectInCSharpTests/obj
/UseOfIValidatableObjectInCSharp/.vs/ProjectEvaluation
/ThreadSynchronizationInCSharp/.vs/ProjectEvaluation/threadsynchronizationincsharp.metadata.v7.bin
/ThreadSynchronizationInCSharp/.vs/ProjectEvaluation/threadsynchronizationincsharp.projects.v7.bin
/UseOfFeatureManagement/.vs/UseOfFeatureManagement
/UseOfFeatureManagement/bin/Debug/net8.0
/UseOfFeatureManagement/obj
/UseOfDecoratorPattern/.vs/UseOfDecoratorPattern
/UseOfDecoratorPattern/bin/Debug/net8.0
/UseOfDecoratorPattern/obj
/UseOfFeatureManagement/.vs/ProjectEvaluation
/UseOfSingletonPattern/.vs/UseOfSingletonPattern
/UseOfSingletonPattern/bin/Debug/net8.0
/UseOfSingletonPattern/obj
/UseOfFactoryPattern/.vs/UseOfFactoryPattern
/UseOfFactoryPattern/bin/Debug/net8.0
/UseOfFactoryPattern/obj
/UseOfSingletonPattern/.vs/ProjectEvaluation
/ExtendFactoryPatternUsingDI/.vs/ExtendFactoryPatternUsingDI
/ExtendFactoryPatternUsingDI/bin/Debug/net8.0
/ExtendFactoryPatternUsingDI/obj
/ExtendFactoryPatternUsingDI/.vs/ProjectEvaluation
/UseOfFactoryPattern/.vs/ProjectEvaluation
/UseOfBuilderDesignPattern/.vs/UseOfBuilderDesignPattern/FileContentIndex
/UseOfBuilderDesignPattern/obj
/UseOfBuilderDesignPattern/.vs/UseOfBuilderDesignPattern
/UseOfBuilderDesignPattern/bin/Debug/net8.0
/ExtendBuilderDesignPattern/.vs/ExtendBuilderDesignPattern/FileContentIndex
/ExtendBuilderDesignPattern/obj
/UseOfBuilderDesignPattern/.vs/ProjectEvaluation
/ExtendBuilderDesignPattern/.vs/ExtendBuilderDesignPattern
/ExtendBuilderDesignPattern/bin/Debug/net8.0
/UseOfAdapterDesignPattern/.vs/UseOfAdapterDesignPattern
/UseOfAdapterDesignPattern/bin/Debug/net8.0
/UseOfAdapterDesignPattern/obj
/UseOfCompositeDesignPattern/.vs/UseOfCompositeDesignPattern
/UseOfCompositeDesignPattern/bin/Debug/net8.0
/UseOfCompositeDesignPattern/obj
