################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DelegatesInCSharp/.vs
/DelegatesInCSharp/bin/Debug/net6.0
/DelegatesInCSharp/obj
/ThreadSynchronizationInCSharp/.vs/ThreadSynchronizationInCSharp/FileContentIndex
/ThreadSynchronizationInCSharp/obj
/ThreadSynchronizationInCSharp/.vs/ThreadSynchronizationInCSharp/v17
/ThreadSynchronizationInCSharp/bin/Debug/net8.0
/ThreadSynchronizationInCSharp/.vs/ThreadSynchronizationInCSharp/DesignTimeBuild
